@import "../fonts/fonts.css";
@import "../../dist/style.min.css";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
}
