.content {
  background-color: $background-color;
  @include pad(26px, 69px);

  @media screen and (--small-viewport) {
    @include pad(14px, 16px);
  }

  &__wrapper {
    display: flex;

    @media screen and (--small-viewport) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__table-view {
    width: 100%;
    position: relative;
    @media screen and (--small-viewport) {
      display: none;
    }

    &-mobile {
      display: none;

      @media screen and (--small-viewport) {
        display: block;
        width: 100%;
        position: relative;
        margin-top: 80px;
        margin-bottom: 60px;
      }
    }

    &-button {
      position: absolute;
      left: 25%;
      right: 0;
      top: 54%;
      bottom: 0;
      display: grid;
      grid-template-columns: 200px 200px;
      column-gap: 74px;

      @media screen and (--small-viewport) {
        grid-template-columns: 62px 62px;
        column-gap: 22px;
      }
    }
  }

  &__table {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 135px;
    bottom: 0;
    transform: scale(1.5, 1.5) translateY(0px);
    transition: all 1s ease-out;

    &-mobile {
      position: absolute;
      left: -26%;
      right: 0;
      top: -4%;
      bottom: 0;
      transition: all 1s ease-out;
      width: 100%;
      left: 0;
      transform: scale(1.7, 1.7) translateY(16px);
    }

    &-legs {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 62px;
      bottom: 0;
      transform: scale(1.5, 1.5);

      @media screen and (--small-viewport) {
        position: relative;
        width: 100%;
        left: 0;
        top: 6px;
        bottom: 0;
        right: 0;
        transform: scale(1.7, 1.7);
      }
    }
  }

  &__button {
    border: none;
    cursor: pointer;
    padding: 0;
    max-height: 200px;
    background-color: $background-color-button;
    border-radius: 50%;
    @include text("Ubuntu", normal, 300, 40px, 170%, $font-color-button);
    text-align: center;

    @media screen and (--small-viewport) {
      height: 62px;
      font-size: 12px;
    }
  }

  &__description {
    margin-left: 40px;
    @media screen and (--small-viewport) {
      margin-left: 0;
    }

    &-title {
      @include text("Ubuntu", normal, 300, 62px, 100%, $font-color-title);
      margin: 0;
      margin-bottom: 38px;
      max-width: 646px;

      @media screen and (--small-viewport) {
        @include text("Bebas Neue", normal, 700, 38px, 100%, $font-color-title);
        margin-bottom: 30px;
      }
    }

    &-wrapper {
      width: 500px;

      @media screen and (--small-viewport) {
        width: 100%;
      }
    }

    &-text {
      @include text("Ubuntu", normal, 300, 22px, 170%, $font-color-main);
      margin: 0;

      &:first-child {
        margin-bottom: 20px;

        @media screen and (--small-viewport) {
          margin-bottom: 54px;
        }
      }

      @media screen and (--small-viewport) {
        font-size: 16px;
      }
    }
  }
}
