$background-color: #F3F3F3;
$font-color-main: #181818;
$font-color-title: #0B64FE;
$font-color-button: #000000;
$background-color-button: #A6FFFF;

@custom-media --small-viewport (max-width: 320px);



